<nav class='menu'>
  <LinkTo @route='index' class='button'>Index</LinkTo>
  <LinkTo @route='scientists' class='button'>Scientists</LinkTo>
  <LinkTo @route='contact' class='button'>Contact</LinkTo>
  <LinkTo @route='about' class='button'>About Us</LinkTo>
</nav>